.footerContainer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  
  padding: 5px;
  clear: all;
}

.mainList {
  display: flex;
  flex-wrap: wrap;
}

.mainList li {
  display: inline;
  margin: auto;
  
}

.footerList {
  overflow: auto;
  font-weight: bold;
}

.footerList li, a {
  display: block;
  color: black;
  font-weight: normal;
}

.siteMap {
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.terms {
  display: flex;
  flex-wrap: wrap;
}

p {
  font-size: 12px;
}

.pageEndLinks {
}

.pageEndLinks a{
  background: red;
}
.pageEndLinks li {
  display: inline;
}