<div class="footerContainer">
  <div class="siteMap">
    <ul>
      <li>
        <ul>Customer Service
            <li><a href="#">Building Instructions</a></li>
            <li><a href="#">Replacement Parts</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Product Recalls</a></li>
            <li><a href="#">Find a LEGO Store</a></li>
            <li><a href="#">LEGO Certificates</a></li>
        </ul>
      </li>
      <li>
          <ul>About Us
              <li><a href="#">Responsibility</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Legal Information</a></li>
              <li><a href="#">Newsroom</a></li>
              <li><a href="#">Supply Chain Transparency Statement</a></li>
              <li><a href="#">Digital Wellbeing</a></li>
            </ul>
      </li>
      <li>
          <ul>Categories
              <li><a href="#">Animals</a></li>
              <li><a href="#">Play Ideas</a></li>
              <li><a href="#">Toy Cars</a></li>
              <li><a href="#">Coding</a></li>
              <li><a href="#">Robots</a></li>
              <li><a href="#">STEM</a></li>
            </ul>
      </li>
      <li>
          <ul>Educators
              <li><a href="#">LEGO Education Website</a></li>
              <li><a href="#">LEGO Education Products</a></li>
            </ul>
      </li>
      <li>
          <ul>Attractions
              <li><a href="#">LEGO House</a></li>
              <li><a href="#">LEGOLAND Parks</a></li>
              <li><a href="#">LEGOLAND Discovery Centers</a></li>
            </ul>
      </li>
    </ul>
  </div>

  <footer>
    <div class="footerLinks">
      <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Cookies</a></li>
          <li><a href="#">Terms of Use</a></li>
        <button>Language</button>
      </ul>
    </div>
    <div class="terms">
      <p>LEGO, the LEGO logo, the Minifigure, DUPLO, BIONICLE, the FRIENDS logo, the MINIFIGURES logo, MINDSTORMS, NINJAGO, and NEXO KNIGHTS are trademarks of the LEGO Group. ©2019 The LEGO Group.</p>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
    </div>
  </footer>
</div>