.footerContainer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  
  padding: 5px;
  clear: all;
}

.mainList {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
}

.mainList li {
  display: inline;
  margin: auto;
  
}

.footerList {
  overflow: auto;
  font-weight: bold;
}

.footerList li, a {
  display: block;
  color: black;
  font-weight: normal;
}
.footerList a{
  max-width: 100px;
}

.siteMap {
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.terms, .footerLinks {
  display: flex;
  flex-wrap: wrap;
}

.policyList {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px 0;
}

.policyList li {
  display: inline;
  margin: auto;
}

p {
  font-size: 12px;
}

.pageEndLinks {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
}

.pageEndLinks a{
  background: red;
  margin: 5px;
}
.pageEndLinks li {
  flex: 0 1 auto;
  display: inline;
}