<div class="navBar">
  <a routerLink="/"><button class="homeButton"></button></a>
  <ul>
    <li><a routerLink="shop">Shop</a></li>
    <li><a href="#">PRODUCTS</a></li>
    <li><a href="#">SUPPORT</a></li>
    <li><a href="#">GAMES</a></li>
    <li><a href="#">LEGO LIFE</a></li>
    <li><a href="#">GAMES</a></li>
    <li><button class="forkidsButton"><a href="#"></a></button></li>
  </ul>
  <button class="searchButton"><a href="#"></a></button>
  <button class="accountButton"><a href="#"></a></button>
</div>